## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Arraial Do Cabo,BR,-22.97,-42.03,76.86,57,75,24.16,broken clouds
1,1,East London,ZA,-33.02,27.91,59.94,94,75,12.66,broken clouds
2,2,Atuona,PF,-9.80,-139.03,78.46,78,29,15.03,light rain
3,3,Dingle,PH,11.00,122.67,76.03,92,62,1.97,broken clouds
4,4,Lagoa,PT,39.05,-27.98,58.80,79,79,20.33,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Arraial Do Cabo,BR,-22.97,-42.03,76.86,57,75,24.16,broken clouds
2,2,Atuona,PF,-9.80,-139.03,78.46,78,29,15.03,light rain
3,3,Dingle,PH,11.00,122.67,76.03,92,62,1.97,broken clouds
5,5,Lorengau,PG,-2.02,147.27,81.63,78,37,5.91,scattered clouds
15,15,Luang Prabang,LA,19.89,102.13,80.29,46,77,2.08,broken clouds
...,...,...,...,...,...,...,...,...,...,...
669,669,Lahij,YE,13.17,44.58,82.22,31,51,6.24,broken clouds
670,670,Sokoni,TZ,-6.43,39.55,81.46,78,100,11.05,moderate rain
671,671,Lufilufi,WS,-13.87,-171.60,76.78,76,27,14.56,light rain
673,673,Trincomalee,LK,8.57,81.23,83.35,79,36,7.23,scattered clouds
678,678,Bandarbeyla,SO,9.49,50.81,83.08,80,74,12.46,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Arraial Do Cabo,BR,-22.97,-42.03,76.86,57,75,24.16,broken clouds
2,2,Atuona,PF,-9.80,-139.03,78.46,78,29,15.03,light rain
3,3,Dingle,PH,11.00,122.67,76.03,92,62,1.97,broken clouds
5,5,Lorengau,PG,-2.02,147.27,81.63,78,37,5.91,scattered clouds
15,15,Luang Prabang,LA,19.89,102.13,80.29,46,77,2.08,broken clouds
...,...,...,...,...,...,...,...,...,...,...
669,669,Lahij,YE,13.17,44.58,82.22,31,51,6.24,broken clouds
670,670,Sokoni,TZ,-6.43,39.55,81.46,78,100,11.05,moderate rain
671,671,Lufilufi,WS,-13.87,-171.60,76.78,76,27,14.56,light rain
673,673,Trincomalee,LK,8.57,81.23,83.35,79,36,7.23,scattered clouds
678,678,Bandarbeyla,SO,9.49,50.81,83.08,80,74,12.46,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,76.86,broken clouds,-22.97,-42.03,
2,Atuona,PF,78.46,light rain,-9.80,-139.03,
3,Dingle,PH,76.03,broken clouds,11.00,122.67,
5,Lorengau,PG,81.63,scattered clouds,-2.02,147.27,
15,Luang Prabang,LA,80.29,broken clouds,19.89,102.13,
16,Sechura,PE,77.86,few clouds,-5.56,-80.82,
17,Rikitea,PF,77.45,light rain,-23.12,-134.97,
20,Bathsheba,BB,84.81,scattered clouds,13.22,-59.52,
23,Puerto Ayora,EC,80.56,broken clouds,-0.74,-90.35,
31,Mahebourg,MU,77.29,scattered clouds,-20.41,57.70,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print ("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,76.86,broken clouds,-22.97,-42.03,Pousada Porto Praia
2,Atuona,PF,78.46,light rain,-9.80,-139.03,Villa Enata
3,Dingle,PH,76.03,broken clouds,11.00,122.67,SEGAYA PROPERTY
5,Lorengau,PG,81.63,scattered clouds,-2.02,147.27,Lorengau Harbourside Hotel
15,Luang Prabang,LA,80.29,broken clouds,19.89,102.13,The Apsara
...,...,...,...,...,...,...,...
669,Lahij,YE,82.22,broken clouds,13.17,44.58,
670,Sokoni,TZ,81.46,moderate rain,-6.43,39.55,Ujamaa Beach Resort
671,Lufilufi,WS,76.78,light rain,-13.87,-171.60,Leuaina Beach Resort and Spa
673,Trincomalee,LK,83.35,scattered clouds,8.57,81.23,Welcombe Hotel
678,Bandarbeyla,SO,83.08,broken clouds,9.49,50.81,JABIR HOTEL

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))